/**
 * Nav
 */

.navbar {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
	padding: 2rem 2rem;
	font-size: 1.35rem;

	.width-limiter {
		display: flex;
		justify-content: space-between;
		align-items: center;

		> * {
			margin: 0;
		}
	}
}

.navbar__social {
	.github svg:hover {
		fill: white;
	}

	.stackoverflow svg:hover {
		fill: #fe7a15;
	}

	.linkedin svg:hover {
		fill: #0077b5;
	}

	svg {
		height: 2.2rem;
		padding: 0 .5rem;
		fill: #eee;
		transition: fill .2s;
	}
}

$navItemSideMargin: 0.5rem;
.navbar__list {
	list-style-type: none;

	.btn {
		margin: 0;
	}
}
