/**
 * Skeleton / base styles of site
 *
 * #1: Can't be css comma'd due to browsers dropping the entire thing
       upon finding something they don't understand (e.g. prefix)
 */

* {
	margin: 0 auto;
}

html {
	min-width: $min-site-width;
	color: $md-grey-900;
	cursor: default;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	outline: none;
	color: inherit;
}

a:active, a:focus {
	outline: none;
}

input {
	border: 0;
}

ul {
	padding: 0;
}

::selection { // #1
	background-color: $md-grey-800;
	color: white;
}

::-moz-selection { // #1
	background-color: $md-grey-800;
	color: white;
}
