/**
 * Nav
 */

#jsFold {
	padding-top: 20rem;
}

.navbar {
	width: 100%;
	top: 0;
	padding: 0 1rem;
	z-index: 10;
	font-size: 1.35rem;
	transition: all .2s ease-in-out;
	text-transform: uppercase;

	&.active {
		background-color: white;
		box-shadow: 0 1px 5px $md-grey-300;

		li {
			color: initial;
		}
	}

	.fa {
		display: none;
		float: right;
		padding: 1.2rem 0.7rem;
		font-size: 2.6rem;
		color: $md-grey-500;
		transition: color 300ms ease-in-out;

		@include break-tablet {
			display: inline;
		}

		&.fa-github:hover {
			color: #171515;
		}

		&.fa-stack-overflow:hover {
			color: #fe7a15;
		}

		&.fa-linkedin:hover {
			color: #0077b5;
		}
	}
}

$navItemSideMargin: 0.5rem;
.navbar__list {
	list-style-type: none;

	@include break-tablet {
		float: left;
	}

	li {
		width: calc(50% - (#{$navItemSideMargin} * 2));
		padding: 1rem 1rem 1.2rem;
		margin: 0.8rem $navItemSideMargin;
		float: left;
		text-align: center;
		font-family: $font-emphasis;
		color: white;
		position: relative;

		@include break-tablet {
			width: auto;
		}

		&:after {
			content: "";
			width: 100%;
			height: 0.2rem;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: scaleX(0);
			transition: all 200ms ease-in-out;
		}

		&:hover:after {
			transform: scaleX(1);
			background-color: $color-secondary;
		}

		&.active:after {
			transform: scaleX(1);
			background-color: $color-accent;
		}
	}
}
