/**
 * Nav
 */

#jsFold {
	padding-top: 20rem;
}

.navbar {
	width: 100%;
	top: 0;
	padding: 0 1rem;
	z-index: 10;
	font-size: 1.35rem;
	transition: all .2s ease-in-out;
	text-transform: uppercase;

	&.active {
		background-color: white;
		box-shadow: 0 1px 5px $md-grey-300;

		li {
			color: initial;
		}

		.navbar__social svg {
			fill: black;
		}
	}
}

$navItemSideMargin: 0.5rem;
.navbar__list {
	list-style-type: none;

	@include break-tablet {
		float: left;
	}

	li {
		width: calc(50% - (#{$navItemSideMargin} * 2));
		padding: 1rem 1rem 1.2rem;
		margin: 0.8rem $navItemSideMargin;
		float: left;
		text-align: center;
		font-family: $font-emphasis;
		color: white;
		position: relative;

		@include break-tablet {
			width: auto;
		}

		&:after {
			content: "";
			width: 100%;
			height: 0.2rem;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: scaleX(0);
			transition: all 200ms ease-in-out;
		}

		&:hover:after {
			transform: scaleX(1);
			background-color: $color-secondary;
		}

		&.active:after {
			transform: scaleX(1);
			background-color: $color-accent;
		}
	}
}

.navbar__social {
	display: none;
	float: right;

	@include break-tablet {
		display: inline;
	}

	.github svg:hover {
		fill: #171515;
	}

	.stackoverflow svg:hover {
		fill: #fe7a15;
	}

	.linkedin svg:hover {
		fill: #0077b5;
	}

	svg {
		width: 3.8rem;
		padding: 1rem 0.5rem 0.5rem;
		fill: white;
		transition: all .3s;

		&:hover {
			transform: scale(1.05);
		}
	}
}
