{
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "eqeqeq": [
      2,
      "smart"
    ],
    "space-after-keywords": 2
  }
}
