.notice-unsupported {
	display: none;
	padding: 0.8rem;
	font-size: 1.6rem;
	background-color: $md-yellow-500;
	border: 0.75rem solid darken($md-yellow-500, 15%);

	span {
		float: left;
		font-size: 5em;
		margin: 0.7rem 1.5rem 0 0.7rem;
	}

	a {
		font-weight: bold;

		&:hover {
			text-decoration: underline;
		}
	}
}

header {
	background-image: url("../assets/images/landing.jpg");
	background-size: cover;
	text-transform: uppercase;

	nav {
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 10;
		border-bottom: 0.1rem solid $md-grey-200;
		background-color: white;
		font-size: 1.35rem;

		.nav__logo {
			max-height: 5rem;
			padding: 1rem;
			margin: 0 3rem 0 0;
			float: left;
		}

		.fa {
			float: right;
			padding: 1.2rem 0.7rem;
			font-size: 2.6rem;
			color: $md-grey-500;
			transition: color 300ms ease-in-out;

			&.fa-github:hover {
				color: #171515;
			}

			&.fa-stack-overflow:hover {
				color: #fe7a15;
			}
		}

		ul {
			list-style-type: none;
			display: flex;
			clear: both;

			@include break-tablet {
				clear: none;
				display: initial;
				float: right;

				li {
					float: left;
				}
			}

			li {
				padding: 1rem 1rem 1.2rem;
				margin: 0.8rem 0.5rem;
				font-family: "Montserrat";
				position: relative;

				&:after {
					content: "";
					width: 100%;
					height: 0.2rem;
					position: absolute;
					bottom: 0;
					left: 0;
					transform: scaleX(0);
					transition: all 200ms ease-in-out;
				}

				&:hover:after {
					transform: scaleX(1);
					background-color: $color-secondary;
				}

				&.active:after {
					transform: scaleX(1);
					background-color: $color-accent;
				}
			}
		}
	}

	.title {
		margin: 10.5rem 0 0;
		padding: 10rem 2rem;
		text-align: center;
		color: white;

		@include break-tablet {
			margin-top: 5.5rem;
			padding: 14rem 2rem;
		}

		h1, h5 {
			font-weight: 400;
		}

		h1 {
			margin: 0;
			font-size: 4.5rem;
			font-family: "Montserrat";
		}

		h5 {
			&:nth-child(1) {
				color: $md-grey-200;
			}
			&:nth-child(3) {
				color: $md-grey-500;
			}
		}

		hr {
			width: 10rem;
			height: 0.2rem;
			margin: 2.5rem auto 0;
			border: 0;
			background-color: white;
		}
	}
}

main {

	h2 {
		font-family: 'Montserrat';
		text-transform: uppercase;
	}

	hr {
		width: 85%;
		height: 0.2rem;
		margin: 1rem auto;
		border: 0;
		background-color: $color-secondary;
	}

	.highlighted-block {
		padding: 2rem;
		background-color: $color-primary;
		color: white;
		@extend %clearfix;

		blockquote {
			margin: 1.5rem 0 2.5rem;

			@include break-desktop {
				width: 33.333%;
				padding: 0 2rem;
				float: left;
			}

			p {
				background-color: darken($color-primary, 7.5%);
				color: $md-grey-400;
				padding: 0.5rem 1.5rem;
				margin: 1rem 0;
				border-radius: 0.8rem 0 0.8rem 0;

				&:before, &:after {
					color: white;
					font-size: 2rem;
					line-height: 1.6rem;
				}

				&:before {
					content: '“ ';
				}

				&:after {
					content: ' ”';
				}
			}

			cite a {
				text-decoration: underline;
			}
		}
	}

	.alternating-sides {
		padding: 2rem;
		border-bottom: 0.1rem solid $md-grey-300;
		background-image: url('../assets/images/pattern-diamonds.png');
		@include smart-center(horizontal, relative);

		.block {
			width: 100%;
			padding: 1.5rem 0;
			margin: 1.5rem auto;
			border-radius: 0.5rem;

			&:nth-child(2n+1) {
				text-align: right;
			}

			@include break-desktop {
				width: 33.333%;
				padding: 0 2rem;
				float: left;

				&:nth-child(3n+1) {
					text-align: left;
				}

				&:nth-child(3n+2) {
					text-align: center;
				}

				&:nth-child(3n+3) {
					text-align: right;
				}
			}

			h3 {
				margin: 1.5rem 0 0.5rem;
				color: $color-accent;
			}
		}

		> h3 {
			width: 100%;
			text-align: center;
			margin: 1.5rem 0;
		}

		.button-wrapper {

			@include break-desktop {
				display: flex;

				button {
					width: initial;
				}
			}

			button {
				width: 100%;
			}
		}
	}
}

footer {
	background-color: $md-grey-900;
	color: white;
	padding: 3rem;
	text-align: center;
	position: relative;
	font-size: 1.6rem;

	// canvas generated by particles.js
	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	.content {
		z-index: 2;
		// else the particle canvas will be above this irrespective of z-index, likely due to absolute positioning
		position: relative;
	}
}
