// Remove the ability to highlight stuff
%no-select {
	user-select: none;
}

// From: http://cssmojo.com/latest_new_clearfix_so_far/
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.clearfix {
	@extend %clearfix;
}

.alternate-colors {
	text-align: center;

	span {
		&:nth-child(3n+1) {
			color: $color-secondary;
		}
		&:nth-child(3n+2) {
			color: $color-primary;
		}
		&:nth-child(3n+3) {
			color: $color-accent;
		}
	}
}

.width-limiter {
	max-width: $max-site-width;
}

// Negative top value is determined by JavaScript
.anchor {
	display: block;
	position: relative;
	visibility: hidden;
}
