* {
	margin: 0 auto;
}

html {
	font-size: 62.5%; // Sets font sizing to base 10 - http://clagnut.com/blog/348/
	color: $md-grey-900;
	cursor: default;
	box-sizing: border-box;
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

	@include break-desktop {
		font-size: 70%;
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	outline: none;
	color: inherit;
}

a:active, a:focus {
	outline: none;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 0.8rem;
}

p {
	font-size: 1.6rem;
}

input {
	border: 0;
}

ul {
	padding: 0;
}

/* can't be css comma'd due to browsers dropping the entire thing upon finding something they don't understand (e.g. prefix) */
::selection {
	background-color: $md-grey-800;
	color: white;
}

::-moz-selection {
	background-color: $md-grey-800;
	color: white;
}
