extend ../layout

append body
  a.anchor(name='home')
  header.landing-block
    section.landing-block__title#jsFold
      .width-limiter
        h5 The portfolio of
        h1 Sam A. Horvath-Hunt
        h5 A
          span(id="jsJobTitleText") &nbsp;web developer&nbsp;
          | from London, UK
  main
    a.anchor(name='experience')

    section.experience-block.experience-block--impero
      .width-limiter
        a(href='//www.weareimpero.com', target='_blank')
          include ../../public/img/impero.svg
        header
          h2 Junior Frontend Web Developer
          time December 2015 - Present
        p My work here includes building the frontend of campaign websites for large brands from scratch, with a little Node backend thrown in too. I also work alongside other developers to maintain large websites for brands such as Beefeater, Campo Viejo, Jacob's Creek, Pernod Ricard Winemakers, Lindt and many more. I've also heavily contributed towards fun side-project microsites such as <a href="//camera-on-camera-off.wtf/" target="_blank"> Camera-On/Camera-Off</a>.
        p My experience here so far has been heavily focused on enhancing my understanding of core JavaScript, sans helpers such as jQuery. My knowledge up to, including and beyond ES2015 is now very strong, primarily on the frontend but also on the backend with Node.

    section.experience-block.experience-block--perspectivepublishing
      .width-limiter
        a(href='//www.perspectivepublishing.com', target='_blank')
          .experience-block__image-wrapper
            img(src='/public/img/perspectivepublishing.png')
        header
          h2 Full-Stack Web Developer & Designer
          time March 2014 - December 2015
        p After an initial, highly successful apprenticeship I quickly began designing and developing the front-end of the websites at Perspective Publishing. After creating a solid initial design I would code it in its entirety myself from scratch in HTML, CSS (Sass) and JS (vanilla + jQuery). All of my code was created with an eye to reuse and modularity.
        p I spearheaded the change from simple FTP uploads to a version control system (Git on GitHub), with various tasks accomplished by Gulp during development.
        p I also began to take a larger role with regards to the backend (PHP, MySQL) whilst rewriting the internal company CMS from scratch; converging a few dozen separate but identical CMS'​ into one unified, simpler, faster experience.

    a.anchor(name='contact')
    section.general-block#jsFormContainer
      form#jsForm(action='/send-email', method='POST')
        h2 Get in touch
        label(for='name') Name
        input(type='text', name='name', required)
        label(for='email') Email address (optional)
        input(type='email', name='email')
        label(for='subject') Subject
        input(type='text', name='subject', required)
        label(for='message') Message
        textarea(name='message', required)
        button.btn#jsFormButton(type='submit') Send
      .form-notice#jsFormNotice Thanks for getting in touch. I'll get back to you as soon as I can!
