/**
 * Utility classes
 *
 * #1: Negative top value is determined by JavaScript
 */

.clearfix {
	@extend %clearfix;
}

.alternate-colors {
	text-align: center;

	span {
		&:nth-child(3n+1) {
			color: $color-secondary;
		}
		&:nth-child(3n+2) {
			color: $color-primary;
		}
		&:nth-child(3n+3) {
			color: $color-accent;
		}
	}
}

.width-limiter {
	max-width: $max-site-width;
}

.anchor { // #1
	display: block;
	position: relative;
	visibility: hidden;
}
