/**
 * Utility classes
 *
 * #1: Negative top value is determined by JavaScript
 */

.clearfix {
	@extend %clearfix;
}

.width-limiter {
	max-width: $max-site-width;
}

.image-restraints {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.anchor { // #1
	display: block;
	position: relative;
	visibility: hidden;
}
