/**
 * Utility classes
 *
 * #1: Negative top value is determined by JavaScript
 */

.clearfix {
	@extend %clearfix;
}

.width-limiter {
	max-width: $max-site-width;
}

.anchor { // #1
	display: block;
	position: relative;
	visibility: hidden;
}
