/**
 * Sass variables broadly defining the site
 *
 * Material colors reference:
 * http://www.google.com/design/spec/style/color.html#color-color-palette
 */

$min-site-width: 320px;
$max-site-width: 1200px;
$site-padding: 2.5rem;

$color-primary: #ffdd00; // Impero
$color-secondary: #007067; // Perspective Publishing

$font-primary: 'Open Sans';
$font-emphasis: 'Montserrat';
