/**
 * Sass variables broadly defining the site
 *
 * Material colors reference:
 * http://www.google.com/design/spec/style/color.html#color-color-palette
 */

$min-site-width: 320px;
$max-site-width: 1200px;
$site-border-radius: .2rem;

$tablet: 640px;
$desktop: 960px;

$color-primary: $md-blue-700;

$font-primary: 'Open Sans';
$font-emphasis: 'Montserrat';
