doctype html
html(lang='en')
  head
    include components/head

  body
    block nav
      include components/nav

    block body

    block footer
      include components/footer
    include components/scripts
